;; shadow-cljs configuration
{:source-paths ["src"]
 :dependencies [[cider/cider-nrepl "0.17.0"]
                [secretary "1.2.3"]
                [venantius/accountant "0.2.4"]
                [reagent "0.8.1"]
                [re-frame "0.10.5"]]
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "js"
                :modules {:core {:entries [test.core]}}
                :devtools {:before-load test.core/stop
                           :after-load test.core/start
                           :http-root "public"
                           :http-port 8020}}}
 :nrepl {:port 8202}}

